<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedScraper</title>
</head>
<style>
    .user-input {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
<body>
    <div class="user-input">
        <form action="/get_user_comments" method="post">
            <input type="text" class="username" name="username" placeholder="Vul gebruikersnaam in">
            <button class="submit">Scan comments van gebruiker</button>
        </form>
    </div>
</body>
</html>